.country-data{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    
}

.country{
    border: none;
    
    background-color: transparent;
    
    width: 185px;
    height: 15rem;



    
}

/* 

.country-wrapper:nth-of-type(2) {
  background-color: pink;
}

.country-wrapper:nth-of-type(4) {
    background-color: rgb(174, 174, 255);
  }


 */

.country-map{
    opacity: 0.6;
    margin-left: 1rem;
}

.country-name{
    font-weight:bolder ;
    font-size: 1rem;
    
    text-align: center;
    margin-left: 1rem;
    color: white;
    
}

.total-confirmed{
    font-weight:bold ;
    margin-left: 3rem;
    color: white;
}

.info-icon{
    transform: translate(8rem, -7.5rem);
    
}