.search-by{
    font-weight: bold;
    margin-right: 2rem;
    margin-left: 1rem;
    color: white;
}

.input-search{
    border: none;
    width: 11rem;
    height: 1.5rem;
    border-radius: 10px;
    
}

:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }

.form{

    padding: 0.5rem;
    margin-left: -0.5rem;
    margin-top: -1.5rem;
    background-color: #35548B;
}
    
    
