.search-by{
    font-weight: bold;
    margin-right: 2rem;
    margin-left: 1rem;
    color: white;
}

.input-search{
    border: none;
    width: 15rem;
    margin-left: 2rem;
    height: 1.5rem;
    background-color:#35548B ;
   
    
}

input[type="text"]{
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

::placeholder{

    font-weight: lighter;
    font-size: 1rem;
    color: white;

}

:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }

.form{

    padding: 0.5rem;
    margin-left: -0.5rem;
    margin-top: -1.5rem;
    background-color: #35548B;
}
    
    
